h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    color: #000;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}


h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;}
.select {
    width: 30%;
}


.Stack {
    /*align stack to center of screen:*/

    align-self: center;
    height: 100%;
    width: max-content;
    background-color: #fff;
    padding: 1em;
    margin: 0;
    margin-bottom: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em 0.1em rgb(190, 186, 186);
    /*Align items to center*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.MasterStack {
    display: flex;
       /* left: 50%;*/
       align-items: center;
   /* transform: translateX(-50%);*/
    align-self: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 1em;
    margin: 0;
    margin-bottom: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em 0.1em rgb(255, 255, 255);
}

.StackCheck {
    /*align stack to center of screen:*/
    position: relative;
    justify-content: center;
    align-content: center;
}

