h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    color: #000;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

.Stack {
    /*align stack to center of screen:*/
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    align-self: center;
    width: 30%;
    height: 100%;
    background-color: #fff;
    padding: 1em;
    margin: 0;
    margin-bottom: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em 0.1em #000;
    /*Align items to center*/
    display: flex;
    justify-content: space-evenly;
}

.listItem {
    display: flex;         /* set this div to be a flex container */
    width: 90vw;
    justify-content: space-between;  /* space out the children */
}

.listItemContent {
    width: 100%;            /* set each child to take up nearly half the width, adjust as needed */
    box-sizing: border-box; /* this ensures that padding and border are included in the total width */
}